<div class="ram-db-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Attendance Dashboard</h1>
				<div class="loader">
					<img src="/assets/loader.gif" />
				</div>
				<table id="range-filter">
					<tbody>
						<tr>
							<td><label>Checkin after:</label></td>
							<td><input class="form-control input-sm" type="text" id="min" name="min" placeholder="Ex: 9:30"></td>
							<td><label>Checkin before:</label></td>
							<td><input class="form-control input-sm" type="text" id="max" name="max" placeholder="Ex: 10"></td>
						</tr>
						<tr>
							<td><label>Working hours greater than:</label></td>
							<td><input class="form-control input-sm" type="text" id="maxHrs" name="maxHrs" placeholder="Ex: 9"></td>
							<td><label>Working hours less than:</label></td>
							<td><input class="form-control input-sm" type="text" id="minHrs" name="minHrs" placeholder="Ex: 9"></td>
						</tr>
						<tr>
							<td><label>Show type:</label></td>
							<td>
								<select id="type">
									<option value='all'> All </option>
									<option value='Check-In'> Check-In </option>
									<option value='Check-Out'> Check-Out </option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<button onClick="getEmployeesData();" type="button" class="btn btn-primary pull-right refresh">Refresh</button>
				<table id="ram-db" class="table table-striped">
					<thead>
						<tr>
							<th>Employee ID</th>
							<th>Email</th>
							<th>Name</th>
							<th>Date</th>
							<th>Time</th>
							<th>Type</th>
							<th>Duration</th>
							<th class="address">Address</th>
							<th class="no-sort">Picture</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
